<ion-header>
  <ion-toolbar>
    <ion-title>
      Weather⛅🌤️🌦️🌧️☁️⛈️🌪️
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      Current weather in {{ cityName }}
    </ion-card-header>
    <ion-card-content>
      <ion-icon [name]="weatherIcon" size="large"></ion-icon>
      <h2>{{ weatherData.main?.temp }}°C</h2>
      <p>{{ weatherData.weather?.[0]?.description }}</p>
    </ion-card-content>
  </ion-card>

  <ion-item>
    <ion-label position="floating">Cari Nama Kota</ion-label>
    <ion-input [(ngModel)]="cityName" (ionChange)="searchWeather()"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="searchWeather()">Search 🕵️</ion-button>
</ion-content>
