ion-card {
  text-align: center;
  margin: 20px;
}

ion-card-content{
  background-color: rgb(186, 213, 248);
}

ion-card-header {
  font-family: monospace;
  color: rgb(6, 5, 5);
  background-color: rgb(250, 253, 206);
}

ion-icon {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  margin-top: 5px;
  font-family:'Courier New', Courier, monospace;
}

ion-item {
  margin-top: 20px;
}

ion-button {
  margin-top: 10px;
  --background: #FAFDCE;
  color: black;
}

ion-title {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

ion-content{
  --background: #d2edc7;
}
